{% from "templates/essay.njk" import essay %}
{% from "templates/multichoice.njk" import multichoice %}

{% macro questionWithAnswers(qa) %}
  {% if qa.data.tags == "essay" %}
    {{ essay(qa.filename, qa.data.title, qa.templateContent, qa.data.commentary, qa.data.feedback, qa.data.grade, qa.data.penalty) }}
  {% elif qa.data.tags == "multichoice" %}
    {{ multichoice(qa.filename, qa.data.title, qa.templateContent, qa.data.answers, qa.data.feedback, qa.data.grade, qa.data.penalty, qa.withSingleAnswer, qa.data.withShuffling) }}
  {% endif %}
{% endmacro %}